# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Test / coverage
.pytest_cache/
.coverage
.coverage.*
htmlcov/

# Type checkers / linters
.mypy_cache/
.ruff_cache/
.pyre/

# Logs
*.log

# IDE / editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
